<div class="pokemon">
  <ul>
    <li>pokemon id: <%= gen1_hall_of_fame_pokemon.pokemon_id %></li>
    <li>nickname: <%= gen1_hall_of_fame_pokemon.nickname %></li>
    <li>level: <%= gen1_hall_of_fame_pokemon.level %></li>
  </ul>
</div>
