<div class="pokemon">
  <img class="pokemon-sprite" text-align="center" width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= gen1_hall_of_fame_pokemon.pokemon_id %>.png"/>
  <table class="pokemon-table">
    <tbody>
    <tr>
      <th>Pokedex ID</th>
      <td><%= gen1_hall_of_fame_pokemon.pokemon_id %></td>
    </tr>
    <tr>
      <th>Nickname</th>
      <td><%= gen1_hall_of_fame_pokemon.nickname %></td>
    </tr>
    <tr>
      <th>Level</th>
      <td><%= gen1_hall_of_fame_pokemon.level %></td>
    </tr>
    </tbody>
  </table>

</div>
