<div class="pokemon">
  <img class="pokemon-sprite" text-align="center" width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= gen1_hall_of_fame_pokemon.pokemon_id %>.png"/>
  <ul>
    <li>pokemon id: <%= gen1_hall_of_fame_pokemon.pokemon_id %></li>
    <li>nickname: <%= gen1_hall_of_fame_pokemon.nickname %></li>
    <li>level: <%= gen1_hall_of_fame_pokemon.level %></li>
  </ul>
</div>
