<p id="notice"><%= notice %></p>

<p>
  <strong>playername:</strong>
  <%= @gen3_entry.player_name %>
</p>

<%= link_to 'Edit', edit_gen3_entry_path(@gen3_entry) %> |
<%= link_to 'Back', gen3_entries_path %>
