/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
    display: flex;
}

.type-icon {
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #2E2F30;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 75px;
    list-style-type: none;
}

.type-poison {
    background-color: darkviolet;
}

.type-grass {
    background-color: limegreen;
}

.type-ghost {
    background-color: mediumpurple;
}

.type-flying {
    background-color: lightskyblue;
}

.type-normal {
    background-color: grey;
}

.type-water {
    background-color: dodgerblue;
}

.type-electric {
    background-color: yellow;
}

.type-fighting {
    background-color: maroon;
}

.type-ground {
    background-color: sandybrown;
}

.type-ice {
    background-color: skyblue;
}

.type-fire {
    background-color: orangered;
}

.type-psychic {
    background-color: hotpink;
}

.type-bug {
    background-color: yellowgreen;
}

.type-rock {
    background-color: saddlebrown;
}

.type-dragon {
    background-color: rebeccapurple;
}
